* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: flex;
}

body #board-size {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
body #main-body{
  grid-gap: 5px;
  height: 90%;
  aspect-ratio: 1;
  margin: auto;
  border: 30px solid white;
  border-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') 30 round;
  overflow: auto;
}

body #board-size p {
  margin-bottom: 1rem;
}

body .element {
  /* box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* border: 1px solid whitesmoke; */
  background: rgb(247, 245, 245);
  box-shadow: 0 0 1rem 0 rgba(95, 49, 136, 0.5);
  z-index: 1;
  position: relative;
  color: black;
  border-radius: 5px;
}

body .element:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 100px rgba(204, 172, 223, 0.3);
  filter: blur(10px);
}

div[unchecked] {
  box-shadow: none;
  border-radius: none;
  background: none;
  border: none;
}

div[unchecked]::before {
  content: none;
}